{
    "openapi": "3.0.0",
    "info": {
        "title": "M3th",
        "description": "math testing",
        "contact": {
            "name": "Swagger API Team"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://node43.webte.fei.stuba.sk",
            "description": "API server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "operationId": "a718f172ff3ac464d723835815f8fb57",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The email has already been taken."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login a user",
                "operationId": "44212a9096e4b09358281e9ec8a0701d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid login details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid login details"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout the current user",
                "operationId": "79854151e609bd20032aa5aa4d5a35c0",
                "responses": {
                    "200": {
                        "description": "Successful logout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user-tests": {
            "get": {
                "tags": [
                    "User Tests"
                ],
                "summary": "List all attempts for the authenticated user",
                "operationId": "f210ba888ddfdb21b8f17750cb50b0c5",
                "responses": {
                    "200": {
                        "description": "List of test attempts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "history_tests": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/HistoryTest"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Create a new test attempt",
                "operationId": "593a955752b0be6d3f3fc872e7551c1d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "test_id"
                                ],
                                "properties": {
                                    "test_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Bratislava"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Slovakia"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Attempt created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryTest"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user-tests/{user_test}": {
            "get": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Show one test attempt with its question records",
                "operationId": "d7a1c82332f9683675b4f8c7d5892c92",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User test attempt with question IDs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        },
                                        "test_id": {
                                            "type": "integer"
                                        },
                                        "score": {
                                            "type": "integer"
                                        },
                                        "city": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "question_ids": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Update score or location on a test attempt",
                "operationId": "b64b933a7d49b0964f5c305f05ec9e66",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "score"
                                ],
                                "properties": {
                                    "score": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Bratislava"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Slovakia"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User test updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryTest"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Delete a test attempt and its question records",
                "operationId": "244d97a6749e4a01623cb7ba01aaa34f",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attempt deleted message",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Attempt deleted."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user-tests/{user_test}/evaluate": {
            "post": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Evaluate a user test attempt and update score",
                "operationId": "7f31a02a7a14c173748ecbea74afac91",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Evaluation summary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_questions": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "correct_answers": {
                                            "type": "integer",
                                            "example": 8
                                        },
                                        "score": {
                                            "type": "integer",
                                            "example": 8
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user-tests/{user_test}/questions": {
            "get": {
                "tags": [
                    "User Tests"
                ],
                "summary": "List all question-records for one test attempt",
                "operationId": "771fbefdca2a62a2ee95a7798100f1a7",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test attempt",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of questions and their pivot data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "questions": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "question": {
                                                        "type": "object"
                                                    },
                                                    "pivot": {
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Record an answer/time for one question in a test attempt",
                "operationId": "1b6addf91b8bdf2150349cb6debeb458",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test attempt",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "question_id",
                                    "time"
                                ],
                                "properties": {
                                    "question_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "answer_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "written_answer": {
                                        "type": "string",
                                        "example": "My written answer",
                                        "nullable": true
                                    },
                                    "time": {
                                        "type": "number",
                                        "example": 12.3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Question record created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "question": {
                                            "type": "object"
                                        },
                                        "pivot": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user-tests/{user_test}/questions/{question_id}": {
            "get": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Show one question-record in a test attempt",
                "operationId": "326db08ff992fa38dd000cd7b5fda1f6",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test attempt",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "question_id",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Question record found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "question": {
                                            "type": "object"
                                        },
                                        "pivot": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Update answer/time for one question-record",
                "operationId": "9de8c89bbde4e245e4d428db0444703b",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test attempt",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "question_id",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "answer_id": {
                                        "type": "integer",
                                        "example": 6,
                                        "nullable": true
                                    },
                                    "written_answer": {
                                        "type": "string",
                                        "example": "Changed answer",
                                        "nullable": true
                                    },
                                    "time": {
                                        "type": "number",
                                        "example": 15.7
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Question record updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "question": {
                                            "type": "object"
                                        },
                                        "pivot": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User Tests"
                ],
                "summary": "Remove a question-record from a test attempt",
                "operationId": "8fefa6ab551f4efd8ac0a520f34de818",
                "parameters": [
                    {
                        "name": "user_test",
                        "in": "path",
                        "description": "ID of the user test attempt",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "question_id",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Record deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Record deleted."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/questions": {
            "get": {
                "tags": [
                    "Questions"
                ],
                "summary": "List questions, filterable by search string or tags",
                "operationId": "ccfcac18661863efc025fb5e958cb3bd",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in assignment_en or assignment_sk",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags[]",
                        "in": "query",
                        "description": "Filter by tag IDs (array)",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Questions fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "questions": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Question"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Questions"
                ],
                "summary": "Create a new question with answers and tags",
                "operationId": "3b45a42bdad6eb1d4eb6cdd88fbdd3d5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "assignment_sk",
                                    "assignment_en",
                                    "isMultiChoice",
                                    "answers"
                                ],
                                "properties": {
                                    "assignment_sk": {
                                        "type": "string",
                                        "example": "Koľko je 2+2?"
                                    },
                                    "assignment_en": {
                                        "type": "string",
                                        "example": "What is 2+2?"
                                    },
                                    "isMultiChoice": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "answers": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "answer_sk": {
                                                    "type": "string",
                                                    "example": "Štyri"
                                                },
                                                "answer_en": {
                                                    "type": "string",
                                                    "example": "Four"
                                                },
                                                "isCorrect": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "tag_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Question"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/questions/{id}": {
            "get": {
                "tags": [
                    "Questions"
                ],
                "summary": "Show one question with answers and tags",
                "operationId": "d899529dc334e0fae06e945ff00bea1e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Question with answers and tags",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Question"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Questions"
                ],
                "summary": "Update a question, its answers, and tags",
                "operationId": "0d3414e242d85540e07f2f345fe85c62",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "assignment_sk",
                                    "assignment_en",
                                    "isMultiChoice",
                                    "tag_ids"
                                ],
                                "properties": {
                                    "assignment_sk": {
                                        "type": "string",
                                        "example": "Koľko je 2+2?"
                                    },
                                    "assignment_en": {
                                        "type": "string",
                                        "example": "What is 2+2?"
                                    },
                                    "isMultiChoice": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "answers": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "answer_sk": {
                                                    "type": "string",
                                                    "example": "Štyri"
                                                },
                                                "answer_en": {
                                                    "type": "string",
                                                    "example": "Four"
                                                },
                                                "isCorrect": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "tag_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Question"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Questions"
                ],
                "summary": "Delete a question and its answers",
                "operationId": "12c5b45cc03b0643b3776bded072da33",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question 1 successfully deleted."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tests": {
            "get": {
                "tags": [
                    "Tests"
                ],
                "summary": "Get a list of tests (optionally filter by title)",
                "operationId": "c111461571e8c1952d5ec29f6b79e9ce",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by test title",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of tests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "tests": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Test"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Tests"
                ],
                "summary": "Create a new test with question IDs",
                "operationId": "ce2fcda95b04246f42b319d2f2dce318",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "question_ids"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Math Test"
                                    },
                                    "question_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Test created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Test"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tests/{test}": {
            "get": {
                "tags": [
                    "Tests"
                ],
                "summary": "Get a single test with its questions",
                "operationId": "0da1154a29f20a65736b20deb2592430",
                "parameters": [
                    {
                        "name": "test",
                        "in": "path",
                        "description": "ID of the test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Test resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Test"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Tests"
                ],
                "summary": "Update a test's title and question IDs",
                "operationId": "8b6bfbf28a984df90e7144ef9409eb1f",
                "parameters": [
                    {
                        "name": "test",
                        "in": "path",
                        "description": "ID of the test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "question_ids"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "New Math Test"
                                    },
                                    "question_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 2
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Test updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Test"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Tests"
                ],
                "summary": "Delete a test and detach its questions",
                "operationId": "2d92c6746348690a46bb2884777a2b13",
                "parameters": [
                    {
                        "name": "test",
                        "in": "path",
                        "description": "ID of the test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Test deleted successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tests/{test}/questions": {
            "get": {
                "tags": [
                    "Tests"
                ],
                "summary": "List all questions for a test, with optional search and tags filter",
                "operationId": "578e0eaf781bf4dd7be17389c04aa469",
                "parameters": [
                    {
                        "name": "test",
                        "in": "path",
                        "description": "ID of the test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in assignment_en or assignment_sk",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags[]",
                        "in": "query",
                        "description": "Filter by tag IDs (array)",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of questions for the test",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "questions": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Question"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Tests"
                ],
                "summary": "Create and attach a new question to the test",
                "operationId": "eb3f669fec3a3a1cae4fc6d1c8581f01",
                "parameters": [
                    {
                        "name": "test",
                        "in": "path",
                        "description": "ID of the test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "assignment_sk",
                                    "assignment_en",
                                    "isMultiChoice",
                                    "answers",
                                    "tag_ids"
                                ],
                                "properties": {
                                    "assignment_sk": {
                                        "type": "string",
                                        "example": "Koľko je 2+2?"
                                    },
                                    "assignment_en": {
                                        "type": "string",
                                        "example": "What is 2+2?"
                                    },
                                    "isMultiChoice": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "answers": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "answer_sk": {
                                                    "type": "string",
                                                    "example": "Štyri"
                                                },
                                                "answer_en": {
                                                    "type": "string",
                                                    "example": "Four"
                                                },
                                                "isCorrect": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "tag_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Question created and attached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Question"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tests/{test}/questions/{question}": {
            "get": {
                "tags": [
                    "Tests"
                ],
                "summary": "Get one question (with answers and tags) for this test",
                "operationId": "7f2e07ba8076529d083bcc31c1cdc4a0",
                "parameters": [
                    {
                        "name": "test",
                        "in": "path",
                        "description": "ID of the test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "question",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The question resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Question"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Tests"
                ],
                "summary": "Update a question attached to this test",
                "operationId": "8571039851527e997e7356c61f94422f",
                "parameters": [
                    {
                        "name": "test",
                        "in": "path",
                        "description": "ID of the test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "question",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "assignment_sk",
                                    "assignment_en",
                                    "isMultiChoice",
                                    "answers",
                                    "tag_ids"
                                ],
                                "properties": {
                                    "assignment_sk": {
                                        "type": "string",
                                        "example": "Koľko je 2+2?"
                                    },
                                    "assignment_en": {
                                        "type": "string",
                                        "example": "What is 2+2?"
                                    },
                                    "isMultiChoice": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "answers": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "answer_sk": {
                                                    "type": "string",
                                                    "example": "Štyri"
                                                },
                                                "answer_en": {
                                                    "type": "string",
                                                    "example": "Four"
                                                },
                                                "isCorrect": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "tag_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Question updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Question"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Tests"
                ],
                "summary": "Detach and delete a question from a test",
                "operationId": "bb15745dc16416a3574fbd29eab28685",
                "parameters": [
                    {
                        "name": "test",
                        "in": "path",
                        "description": "ID of the test",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "question",
                        "in": "path",
                        "description": "ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Question detached and deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question 1 removed and deleted."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Test": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "questions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Question"
                        }
                    }
                },
                "type": "object"
            },
            "Question": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "assignment_sk": {
                        "type": "string"
                    },
                    "assignment_en": {
                        "type": "string"
                    },
                    "isMultiChoice": {
                        "type": "boolean"
                    },
                    "answers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Answer"
                        }
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Tag"
                        }
                    }
                },
                "type": "object"
            },
            "Answer": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "question_id": {
                        "type": "integer"
                    },
                    "answer_sk": {
                        "type": "string"
                    },
                    "answer_en": {
                        "type": "string"
                    },
                    "isCorrect": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "Tag": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name_sk": {
                        "type": "string"
                    },
                    "name_en": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "HistoryTest": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "user_id": {
                        "type": "integer"
                    },
                    "test_id": {
                        "type": "integer"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "questions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Question"
                        }
                    }
                },
                "type": "object"
            },
            "HistoryTestQuestion": {
                "properties": {
                    "history_test_id": {
                        "type": "integer"
                    },
                    "question_id": {
                        "type": "integer"
                    },
                    "answer_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "written_answer": {
                        "type": "string",
                        "nullable": true
                    },
                    "time": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "Bearer",
                "description": "Enter token in format (Bearer <token>)"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "User Tests",
            "description": "User Tests"
        },
        {
            "name": "Questions",
            "description": "Questions"
        },
        {
            "name": "Tests",
            "description": "Tests"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ]
}